:root{
    /* Colors */
    --color-primary-violet: hsl(257,40%,49%);
    --color-primary-softMagenta: hsl(300,69%,71%);

    /* Fonts */
    --font-family-heading-sansSerif: "Poppins", sans-serif;
    --font-family-body-sansSerif: 'Open Sans', sans-serif;

    --font-weight-400:400;
    --font-weight-600:600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 4em;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
}

h1{
    font-size: 2em;
    font-family: var(--font-family-heading-sansSerif);
    color: white;
    font-weight: var(--font-weight-600);
}

p{
    font-family: var(--font-family-body-sansSerif);
    color: white;
}

img{
    width: 100%;
}

.logo{ 
    gap: 1em;
    display: flex;
    align-items: flex-start;
    height: 100px;
}

.logo img{ 
    width: 200px;
}

.container{
    display: flex;
}

.section{
    padding: 2em 0;
}

.section-left{
    padding: 1em;
    padding-bottom: 7em;
}

.section-right{
    padding-top: 3em;
    padding-left: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em; 
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;  
}

.content h1{
    font-size: 2.5em;
    width: 80%;
}

.content p{
    font-size: 1.2em;
}

.content button{
    padding: 1em 4em;
    width: fit-content;
    border-width: 0;
    border-radius: 3em;
    color: var(--color-primary-violet);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.content button:active{
    background-color: var(--color-primary-softMagenta);
    color: white;
}

.circle{
    width: 40px;
    border: 1px solid white;
    padding: .5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:active{
    color: var(--color-primary-softMagenta);
    border-color: var(--color-primary-softMagenta);
}

.social-links{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    color: white;
}

@media only screen and (max-width:600px) {

    body{
        height: 100%;
        padding: 2em;
        background-image: url(images/bg-mobile.svg);
    }

    .container{
        flex-direction: column;
        gap: 4em;
    }

    .section-left{
        padding: 0;
    }
    
    .section-right{
        padding: 0;
        gap: 4em; 
        font-size: 1em;
    }

    .content{
        align-items: center;
        text-align: center;
    }

    .content h1{
        font-size: 1.4em;
        width: 80%;
    }
    
    .content p{
        font-size: 1em;
    }

    .content button{
        margin-top: 1em;
        padding: 1em 6em;
    }

    .social-links{
        justify-content: center;
        font-size: .9em
    }

    .circle{
        width: 30px;
    }
   
}